*{
  font-family: roboto, Arial;
}
.main{
  background-color: rgb(0, 0, 87);
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.845);
}
.container{
  background-color: rgb(0, 0, 87);
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 70px;
  border-radius: 20px;
  margin: 30px 70px;
}

@media (max-width:800px){
  .container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

.img{
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 52);
  border-radius: 20px;
  transition: 0.7s;
}
.img:hover{
  background-color: rgb(0, 0, 35);
}
.mainimg{
  width: 100%;
  border-radius: 15px;
}
.details{
  background-color: rgb(0, 0, 52);
  border-radius: 20px;
  padding: 0px 30px;
  transition: 0.7s;
}
.details:hover{
  background-color: rgb(0, 0, 35); 
}
.details:hover h1{
  color: rgb(255, 206, 114);
}
.details:hover .p{
  font-size: 18px;
}
.details:hover .overview{
  color: rgb(255, 238, 207);
  font-size: 17.1px;
}
h1{
  font-size: 50px;
  transition: 0.7s;
}
.p{
  margin-bottom: 10px;
  font-size: 17px;
  transition: 0.7s;
}
.h2{
  font-size: 35px;
  text-align: center;
  transition: 0.7;
}
.overview{
  line-height: 25px;
  text-align: center;
  font-size: 17px;
  transition: 0.7s;
}
h2{
  font-size: 35px;
  text-align: center;
}

/*----------------------------------------------------------------*/
.castdiv{
  background-color: rgb(0, 0, 52);
  margin: 30px 40px;
  padding: 0px;
  display: grid;
  grid-template-rows:  max-content;
  border-radius: 20px;
}
.castimg{
  width: 200px;
  border-radius: 10px;
}
.carddiv{
  background-color: rgb(0, 0, 95);
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px;
  overflow-x: scroll;
  scrollbar-width: none; 
}
.card{
  background-color: rgb(0, 0, 62);
  padding: 15px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: max-content;
  row-gap: 5px;
  transition:0.7s  ;
}
.card:hover{
  background-color:rgb(0, 0, 21) ;
}
.card:hover .char{
  color: rgb(255, 211, 129);
}
.card:hover .name{
  font-size: 18px;
}
.name{
  text-align: center;
  transition: 0.7s;
}
.char{
  text-align: center;
  transition: 0.7s;
}
.casttitle{
  font-size: 35px;
  text-align: center;
  color: rgb(255, 213, 134);
}