body{
    background-color: #131720;
    padding-top: 70px;
    font-family: roboto,Arial;
}

.header{
    margin:0px;
    padding: 0px;
    background-color: rgb(1, 1, 102);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 65px;
    display: flex;
    justify-content: space-between;
    min-width: 675px;
    border-bottom:solid gray ;
    
}

.movie-title{
    color: wheat;
    font-size: 30px;
    margin: 20px;
}

.search-space{
    margin: 13px;
    margin-right: 60px;
    width: 300px;
    border-radius: 15px;
    border-style: none;
    padding: 8px 0px;
    padding-left: 20px;
    background-color: rgb(0, 0, 0);
    color: wheat;
    font-size: 25px;
    border: none;
    outline: none;
    
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
@media (max-width:1300px){
    .main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1000px){
    .main{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media (max-width:700px){
    .main{
        grid-template-columns: 1fr 1fr ;
    }
    .header{
        flex-direction: column;
        justify-content: center;
        height: 150px;
    }
    .movie-title{
        margin: 20px 20px 15px 20px;
        
    }
    .search-space{
        margin: 0px 13px 13px 13px;
    }
    body{
        padding-top: 160px;
    }
}
@media (max-width:400px){
    .main{
        grid-template-columns: 1fr ;
    }
}

.card{
    background-color:#1e2432 ;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 10px;
    transition: 0.7s;
    
}
.card:hover{
    background-color:#07080b ;
}
.card:hover .title{
    color: wheat;
}
.img{
  width: 100%;
}
img{
    width: 100%;
    border-radius: 10px;
}
.title{
    color: rgba(255, 255, 255, 0.681);
    font-size: 25px;
}
.rating{
    color: rgba(255, 255, 255, 0.681);

}